body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: oklch(0.95 0.025 112);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 标题 */
header {
    background-color: oklch(0.95 0.025 112);
    color: oklch(0.55 0.12 112);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 0px;
    text-align: center;
    height: 13vh;
}
a {
    color: #007BFF;
    text-decoration: none;
    position: relative;
}
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #007BFF;
    transition: width 0.3s ease;
}
a:hover::after {
    width: 100%;
}
/* 播放窗口侧边边栏 */
.main-content {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
/* 播放窗口 */
.game-container {
    flex: 3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    height: 480px;
    position: relative;
    max-width: 800px;
    max-height: 500px;
    object-fit: contain;
    margin-left: 100px;
}
/* Flash显示位置 */
.game-container embed {
    height: auto;
    width: 640px;
    min-height: 480px;
    max-height: none;
}
/* 边栏文字介绍区 */
.text-container {
    flex: 1;
    background-color: #fafafa;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-word;
}
/* 点赞按钮 */
#zan:after {
    position: absolute;
    top: .7rem;
    right: .7rem;
    width: .4rem;
    height: .4rem;
    border-radius: .4rem;
    background: var(--card-bg);
    content: '';
}
#zan:before {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: .8rem;
    height: .8rem;
    border-radius: .8rem;
    background: #b30070;
    content: '';
}
#zan:hover{
    -webkit-box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);

}
#zan {
	margin-top:40px;
	position:relative;
	    -webkit-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    -ms-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
	border: 1px solid var(--light-grey);
   display: flex;    
   justify-content: center; 
  width:100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
#zan .heart {
  background: url(/api/icon/zan.png);
  background-position: left;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-size: 2900%;
  float: left;
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
}
#zan #zan_text {
  display: inline-block;
  font-family: "Georgia", Times, serif;
  font-size: 25px;
  color: #999;
  position: relative;
  left: -15px;
  line-height: 100px;
}
@keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.heartAnimation {
  display: inline-block;
  animation-name: heartBlast;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  background-position: right;
}
/* 图标 */
@font-face {
  font-family: 'Font Awesome';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/api/icon/fa-solid-900.woff2') format('woff2'),
       url('/api/icon/fa-solid-900.ttf') format('truetype');
}
.fa-users::before {
  content: var(--fa);
  font-family: 'Font Awesome';
  font-weight: 900;
}
.fa-eye::before {
  content: var(--fa);
  font-family: 'Font Awesome';
  font-weight: 400;
}
.fas,
.far,
.fab,
.fa-solid,
.fa-regular,
.fa-brands,
.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}
.fa-eye {
  --fa: "\f06e";
}
/* 按钮栏 */
.bottom-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: #ddd;
    box-sizing: border-box;
    padding: 0;
    padding-left: 100px;
}
@media (max-width: 1000px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .game-container,
    .text-container {
        flex: none;
        width: 90%;
        height: 300px;
    }
    .bottom-bar {
        width: 90%;
        justify-content: center;
    }
    .bottom-text {
        width: 90%;
    }
}
/* 按钮 */
.bottom {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 8px;
    text-decoration: none;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px; 
    .icon{
        color: oklch(0.7 0.14 112);
        vertical-align: middle;
    }
    .bottomP{
        all: unset; 
        color: oklch(0.7 0.14 112);
        text-decoration: none;
    }
    &:hover {
        background-color: oklch(0.95 0.025 112);
    }
    .copy-button {
        padding: 0;
        font: inherit;
        background: none;
        border: none;
        cursor: pointer;
    }
}
/* 底部说明 */
.bottom-text {
    padding-left: 10%;
    max-width: 80%;
}
/* 评论区 */
.twikoo {
    padding-left: 5%;
    max-width: 90%;
}